* {
    margin: 0;
    padding: 0;
    color: white;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.main{
    background-color: black;
    height: 100vh;
}
.header{
    text-align: center;
}

.books{
    display: grid;
    gap: 1em;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
    padding: 1rem;
}

.book{
    background-color: blue;
    aspect-ratio: 1/1.5;
    height: 20rem;
    padding: 1rem;
    display: grid;
    grid-template-rows: auto auto 1fr;
}