* {
    margin: 0;
    padding: 0;
    color: white;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.main{
    background-color: black;
    height: 100vh;
    overflow: auto;
}
.header{
    text-align: center;
}

.books{
    display: grid;
    gap: 1em;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
    padding: 1rem;
}

.book{
    aspect-ratio: 1/1.5;
    height: 20rem;
    padding: 1rem;
    display: grid;
    grid-template-rows: auto auto 1fr 1fr;
}

.read-toggle{
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: .5rem;
}
.new{
    text-align: center;
}
#open-dialog, #close-dialog, #submit-book{
    color: black;
    border: none;
    padding: 1rem;
    font-size: 20px;
    border-radius: 1rem;
}
.remove{
    color: black;
    width: 4rem;
    border: none;
    border-radius: 1rem;
}
button:hover{
    background-color: darkgray;
}

dialog{
    border: none;
    background-color: rgb(35, 35, 35);
    padding: 1rem;
    margin: auto;
    border-radius: 1rem;
}
dialog h1{
    text-align: center;
}
#new-book{
    display: grid;
    gap: 1rem;
    padding: 1rem;
    font-size: 18px;
    font-weight: bold;
}
.inputs{
    display: grid;
}
.inputs input{
    color: black;
    border: none;
    padding: .5rem;
    border-radius: .5rem;
    font-size: 18px;
}
.radio{
    display: grid;
    grid-template-columns: 1fr 4fr;
    align-items: center;
    justify-items: center;
    margin-top: .2rem;
}
#buttons{
    display: grid;
    gap: 1rem;
    grid-template-columns: 2fr 1fr;
}